<div class="product-wrapper">
<% if(user_id && auth == 1) { %>
<a class="card" href="/tea?name=<%= product.name %>&user_id=<%= user_id %>&auth=<%= auth %>">
<% } else { %>
<a class="card" href="/tea?name=<%= product.name %>">
<% } %>
    <img class="card__image" src="<%= product.img_url %>">
    <div class="card__overlay">
        <div class="card__header">
            <div class="card__header-wrapper">
            <div class="card__thumb"><span><%= product.price %>$</span></div>
                <div class="card__header-text">
                    <h3 class="card__title"><%= title(product.name) %></h3>            
                </div>
            </div>
            <p class="card__status"><%= product.description %></p>
        </div>
    </div>
</a>
<% if(user_id && auth == 1) { %>
    <a class="buy" href="/checkout?name=<%= product.name %>&price=<%= product.price %>&user_id=<%= user_id %>&auth=<%= auth %><%= locals.expiry ? "&expiry=" + expiry : "" %>">
        <button>Buy!</button>
    </a>
<% } else { %>
    <a class="buy" href="/checkout?name=<%= product.name %>&price=<%= product.price %><%= locals.expiry ? "&expiry=" + expiry : "" %>">
        <button>Buy!</button>
    </a>
<% } %>
</div>