<div class="product">
    <h3><%= title(product.name) %></h3>
    <p><%= product.description %></p>
    <% if(user_id && auth == 1) { %>
        <a href="/tea?name=<%= product.name %>&user_id=<%= user_id %>&auth=<%= auth %>">
    <% } else { %>
        <a href="/tea?name=<%= product.name %>">
    <% } %>
      <img src="<%= product.img_url %>">
    </a>
    <p class="price"><%= product.price %>$</p>
    <% if(user_id && auth == 1) { %>
        <a href="/checkout?name=<%= product.name %>&user_id=<%= user_id %>&auth=<%= auth %>">
            <button>Buy!</button>
        </a>
    <% } %>
  </div>