<div class="review">
    <p><%= 'â­'.repeat(review.rating) %></p>
    <h3><%= review.name %></h3>
    <p><%= review.text %></p>
    <% if (user_id && user_id == review.user_id) { %>
        <a href="/review?action=del&review_id=<%= review.id %>&product=<%= review.product %>&user_id=<%= user_id %>&auth=<%= auth %>">Delete</a>
    <% } %>
</div>