<%- include("partials/steps.ejs", { steps: ["Checkout", "Pay", "Finalize"], active: 0 }) %>

<% if (locals.message)  { %>
    <h2><%= title(name) %></h2>
    <p><%= message %></p>
<% } else { %>
<form action="/buy" method="get">
    <h2><%= title(name) %></h2>
    <p>Price: <%= price %>$</p>

    <label for="promo"><b>Promo Code</b></label>
    <input type="text" placeholder="Enter Code" name="promo">
    
    <input type="hidden" name="name" value="<%= name %>">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <input type="hidden" name="auth" value="1">

    <button type="submit">On to Payment</button>
</form>
<% } %>